{% extends 'layouts/fixed.html' %}

{% block main-sidebar %}
<div class="sidebar sidebar-main sidebar-fixed">
    <div class="sidebar-content">

        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <li><a href="#"><i class="icon-gear"></i> <span>Configuration</span></a></li>
                    <li><a href="#"><i class="icon-hammer"></i> <span>Craft</span></a></li>
                    <li><a href="#"><i class="icon-direction"></i> <span>Discovery</span></a></li>
                    <li><a href="#"><i class="icon-cloud-download2"></i> <span>DLC</span></a></li>
                    <li class="active"><a href="#"><i class="icon-cube"></i> <span>Environment</span></a></li>
                    <li><a href="#"><i class="icon-calendar"></i> <span>Events</span></a></li>
                    <li><a href="#"><i class="icon-circle-code"></i> <span>Exec</span></a></li>
                    <li><a href="#"><i class="icon-steam"></i> <span>Game</span></a></li>
                    <li><a href="#"><i class="icon-sort-numeric-asc"></i> <span>Leader board</span></a></li>
                    <li><a href="#"><i class="icon-key"></i> <span>Login</span></a></li>
                    <li><a href="#"><i class="icon-basket"></i> <span>Market</span></a></li>
                    <li><a href="#"><i class="icon-envelope"></i> <span>Messages</span></a></li>
                    <li><a href="#"><i class="icon-user"></i> <span>Profiles</span></a></li>
                    <li><a href="#"><i class="icon-gift"></i> <span>Promo</span></a></li>
                    <li><a href="#"><i class="icon-flag3"></i> <span>Report</span></a></li>
                    <li><a href="#"><i class="icon-share3"></i> <span>Social</span></a></li>
                    <li><a href="#"><i class="icon-cart"></i> <span>Store</span></a></li>

                </ul>
            </div>
        </div>

    </div>
</div>
{% end %}

{% block header %}
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Services</span> - Registry
                <small class="display-block">Standalone services registry</small></h4>
        </div>
        <div class="heading-elements">
            <form class="heading-form" action="#" method="get">
                <div class="form-group">
                    <div class="has-feedback">
                        <input type="search" name="search" class="form-control" placeholder="Search">
                        <div class="form-control-feedback">
                            <i class="icon-search4 text-size-small text-muted"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% end %}

{% block content %}
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-primary text-primary btn btn-flat"><i class="icon-gear"></i></a>
                <h5 class="text-semibold">Configuration</h5>
                <p class="mb-15">Configure your application dynamically</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-danger text-danger btn btn-flat"><i class="icon-hammer"></i></a>
                <h5 class="text-semibold">Craft</h5>
                <p class="mb-15">Craft</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-success text-success btn btn-flat"><i class="icon-direction"></i></a>
                <h5 class="text-semibold">Discovery</h5>
                <p class="mb-15">Map each service location dynamically</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-warning text-warning btn btn-flat"><i class="icon-cloud-download2"></i></a>
                <h5 class="text-semibold">DLC</h5>
                <p class="mb-15">Deliver downloadable content to the user</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-info text-info btn btn-flat"><i class="icon-cube"></i></a>
                <h5 class="text-semibold">Environment</h5>
                <p class="mb-15">Sandbox Test environment from Live</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-pink text-pink btn btn-flat"><i class="icon-calendar"></i></a>
                <h5 class="text-semibold">Events</h5>
                <p class="mb-15">Compete the players with time-limited events</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-violet text-violet btn btn-flat"><i class="icon-circle-code"></i></a>
                <h5 class="text-semibold">Exec</h5>
                <p class="mb-15">Execute custom javascript code server-side</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-purple text-purple btn btn-flat"><i class="icon-steam"></i></a>
                <h5 class="text-semibold">Game</h5>
                <p class="mb-15">Manage game server instances</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-indigo text-indigo btn btn-flat"><i class="icon-sort-numeric-asc"></i></a>
                <h5 class="text-semibold">Leader board</h5>
                <p class="mb-15">See and edit player ranking</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-blue text-blue btn btn-flat"><i class="icon-key"></i></a>
                <h5 class="text-semibold">Login</h5>
                <p class="mb-15">Manage user accounts, credentials and access tokens</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-teal text-teal btn btn-flat"><i class="icon-basket"></i></a>
                <h5 class="text-semibold">Market</h5>
                <p class="mb-15">Market</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-green text-green btn btn-flat"><i class="icon-envelope"></i></a>
                <h5 class="text-semibold">Messages</h5>
                <p class="mb-15">Deliver messages from the user, to the user</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-orange text-orange btn btn-flat"><i class="icon-user"></i></a>
                <h5 class="text-semibold">Profiles</h5>
                <p class="mb-15">Manage the profiles of the users</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-brown text-brown btn btn-flat"><i class="icon-gift"></i></a>
                <h5 class="text-semibold">Promo</h5>
                <p class="mb-15">Reward users with promo-codes</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-grey text-grey btn btn-flat"><i class="icon-flag3"></i></a>
                <h5 class="text-semibold">Report</h5>
                <p class="mb-15">User-submitted reports service</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-slate text-slate btn btn-flat"><i class="icon-share3"></i></a>
                <h5 class="text-semibold">Social</h5>
                <p class="mb-15">Manage social networks, groups and friend connections</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel" style="height: 270px;">
            <div class="panel-body text-center">
                <a href="#" class="icon-object border-primary text-primary btn btn-flat"><i class="icon-cart"></i></a>
                <h5 class="text-semibold">Store</h5>
                <p class="mb-15">In-App Purchasing, with server validation</p>
            </div>
        </div>
    </div>
</div>
{% end %}
