{% extends 'layouts/fixed.html' %}

{% block js %}
<script type="text/javascript" src="{{ static_url('js/plugins/loaders/pace.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/loaders/blockui.min.js') }}"></script>

<script type="text/javascript" src="{{ static_url('js/plugins/forms/styling/uniform.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/pages/login.js') }}"></script>
{% end %}

{% block body-class %}login-container{% end %}

{% block main-navbar %}
<div class="navbar navbar-inverse">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html"><img src="{{ static_url('images/logo_light.png') }}" alt=""></a>
	</div>
</div>
{% end %}

{% block content %}
<form action="#" method="post">
	<div class="panel panel-body login-form">
		<div class="text-center">
			<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
			<h5 class="content-group">Login to your account <small class="display-block">Your credentials</small></h5>
		</div>

		<div class="form-group has-feedback has-feedback-left">
			<input type="text" name="username" class="form-control" placeholder="Username">
			<div class="form-control-feedback">
				<i class="icon-user text-muted"></i>
			</div>
		</div>

		<div class="form-group has-feedback has-feedback-left">
			<input type="password" name="password" class="form-control" placeholder="Password">
			<div class="form-control-feedback">
				<i class="icon-lock2 text-muted"></i>
			</div>
		</div>

		<div class="form-group login-options">
			<div class="row">
				<div class="col-sm-6">
					<label class="checkbox-inline">
						<input type="checkbox" class="styled" checked="checked"> Remember
					</label>
				</div>

				<div class="col-sm-6 text-right">
					<a href="#">Forgot password?</a>
				</div>
			</div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn bg-blue btn-block">Login</button>
		</div>

		<div class="content-divider text-muted form-group"><span>or sign in with</span></div>
		<ul class="list-inline form-group list-inline-condensed text-center">
			<li><a href="#" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i class="icon-facebook"></i></a></li>
			<li><a href="#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i class="icon-google"></i></a></li>
		</ul>
	</div>
</form>
{% end %}

{% block footer-class%}text-center{% end %}
