{% extends '../layouts/fixed.html' %}

{% block js %}
<script type="text/javascript" src="{{ static_url('js/plugins/loaders/pace.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/loaders/blockui.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/forms/selects/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/tables/datatables/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/pages/health.js') }}"></script>
{% end %}

{% block main-sidebar %}
{% module MainSidebar(entries=main_sidebar_entries, current=None) %}
{% end %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h5 class="panel-title"><i class="icon-chip position-left"></i>Memory <span class="badge badge-primary">{{ data_type }}</span></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
    </div>

    <table class="table datatable-basic">
        <thead>
        <tr>
            <th>Objects</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in objects[:500] %}
        <tr>
            <td>{{ obj }}</td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}