<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anthill Platform Admin Tool</title>

	{% block meta %}{% end %}

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/core.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/components.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/colors.css') }}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	{% block css %}{% end %}

	<!-- Core JS files -->
	<script type="text/javascript" src="{{ static_url('js/core/libraries/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('js/core/libraries/bootstrap.min.js') }}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{{ static_url('js/plugins/ui/nicescroll.min.js') }}"></script>

	<script type="text/javascript" src="{{ static_url('js/core/app.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('js/pages/layout_fixed_custom.js') }}"></script>
	<!-- /theme JS files -->

	{% block js %}{% end %}
</head>

<body class="{% block body-class %}navbar-top{% end %}">

<!-- Main navbar -->
{% block main-navbar %}
{% module Template('modules/main-navbar.html') %}
{% end %}
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		{% block main-sidebar %}{% end %}
		<!-- /main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			{% block header %}{% end %}
			<!-- /page header -->

			<div class="content">
				<!-- Content area -->
				{% block content %}{% end %}

				<!-- Footer -->
				{% block footer %}
				{% module Template('modules/footer.html', centered=False) %}
				{% end %}
				<!-- /footer -->
				<!-- /content area -->
			</div>

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</div>
<!-- /page container -->

</body>
</html>
