<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anthill Platform Admin Tool</title>

	{% block meta %}{% end %}

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/core.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/components.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ static_url('css/colors.css') }}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	{% block css %}{% end %}

	<!-- Core JS files -->
	<script type="text/javascript" src="{{ static_url('js/core/libraries/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('js/core/libraries/bootstrap.min.js') }}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{{ static_url('js/plugins/ui/nicescroll.min.js') }}"></script>

	<script type="text/javascript" src="{{ static_url('js/core/app.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('js/pages/layout_fixed_custom.js') }}"></script>
	<!-- /theme JS files -->

	{% block js %}{% end %}
</head>

<body class="{% block body-class %}navbar-top{% end %}">

<!-- Main navbar -->
{% block main-navbar %}
<div class="navbar navbar-default navbar-fixed-top header-highlight">
	<div class="navbar-header">
		<a class="navbar-brand" href="/"><img src="{{ static_url('images/logo_light.png') }}" alt=""></a>

		<ul class="nav navbar-nav pull-right visible-xs-block">
			<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
		</ul>
	</div>

	<div class="navbar-collapse collapse" id="navbar-mobile">
		<ul class="nav navbar-nav">
			<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
			<li><a><i class="icon-terminal"></i> <span class="visible-xs-inline-block position-right">Terminal</span></a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown dropdown-user">
				<a class="dropdown-toggle" data-toggle="dropdown">
					<img src="{{ static_url('images/image.png') }}" alt="">
					<span>Victoria</span>
					<i class="caret"></i>
				</a>

				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
					<li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
					<li><a href="{{ reverse_url('logout') }}"><i class="icon-switch2"></i> Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{% end %}
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		{% block main-sidebar %}{% end %}
		<!-- /main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			{% block header %}{% end %}
			<!-- /page header -->

			<div class="content">
				<!-- Content area -->
				{% block content %}{% end %}

				<!-- Footer -->
				{% block footer %}
				<div class="footer text-muted{% block footer-class%}{% end %}" style="bottom: 19px;">
					{% set today_year = datetime.datetime.now().year %}
					&copy; 2018{% if today_year > 2018 %}-{{ today_year }}{% end %}.
					<a href="#">Anthill Platform Admin Tool</a> by <a href="#" target="_blank">Lysenko Vladimir</a>
					<div class="footer-version">Version {{ app_version }}</div>
				</div>
				{% end %}
				<!-- /footer -->
				<!-- /content area -->
			</div>

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</div>
<!-- /page container -->

</body>
</html>
