{% extends 'layouts/fixed.html' %}

{% block css %}
<link href="{{ static_url('css/terminal/jquery.terminal.css') }}" rel="stylesheet"/>
<style>
    @supports (--css: variables) {
        .console.ubuntu.terminal {
            --background: #300924;
        }
        .console.osx.terminal {
            --background: #222;
        }
        .console.light.terminal {
            --background: white;
            --color: black;
        }
        /*
        * windows and custom are the last ones so
        * they don't get overwritten by light
        */
        .console.windows.terminal {
            --background: black;
            --color: white;
            --animation: terminal-underline;
        }
        .console.custom.terminal {
            --background: #222d32;
            --color: #aaa;
        }
    }
</style>
{% end %}

{% block js %}
<script src="{{ static_url('js/plugins/terminals/jquery.terminal/jquery.terminal.min.js') }}"></script>
<script src="{{ static_url('js/utils/websocket.js') }}"></script>
<script src="{{ static_url('js/pages/debug.js') }}"></script>
{% end %}

<!-- Main navbar -->
{% block main-navbar %}
{% module Template('modules/main-navbar.html', metadata=metadata, current='debug') %}
{% end %}
<!-- /main navbar -->

{% block main-sidebar %}
{% module MainSidebar(entries=main_sidebar_entries, current='debug') %}
{% end %}

{% block content %}
<div class="console custom"></div>
{% end %}