{% extends 'layouts/fixed.html' %}

{% block css %}
<link href="{{ static_url('css/terminal/jquery.terminal.css') }}" rel="stylesheet" type="text/css">
<link href="{{ static_url('css/pages/log.css') }}" rel="stylesheet" type="text/css">
{% end %}

{% block js %}
<script type="text/javascript"
        src="{{ static_url('js/plugins/terminals/jquery.terminal/jquery.terminal.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/pages/log.js') }}"></script>
{% end %}

{% block header %}
<div class="page-header">
    <div class="breadcrumb-line breadcrumb-line-component">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="{{ reverse_url('index') }}"><i class="icon-home2 position-left"></i> {{ _('Home') }}</a></li>
            <li><a href="{{ reverse_url('service:index', name) }}">{{ metadata.get('title') }}</a></li>
            <li class="active">{{ _('Log') }}</li>
        </ul>
    </div>
</div>
{% end %}

{% block content %}
<div class="console custom"></div>
{% end %}