{% extends 'layouts/fixed.html' %}

{% block css %}
<link href="{{ static_url('css/terminal/jquery.terminal.css') }}" rel="stylesheet"/>
<style>
    .page-header .breadcrumb-line-component {
        margin: 20px;
    }
    @supports (--css: variables) {
        .console.ubuntu.terminal {
            --background: #300924;
        }
        .console.osx.terminal {
            --background: #222;
        }
        .console.light.terminal {
            --background: white;
            --color: black;
        }
        /*
        * windows and custom are the last ones so
        * they don't get overwritten by light
        */
        .console.windows.terminal {
            --background: black;
            --color: white;
            --animation: terminal-underline;
        }
        .console.custom.terminal {
            --background: #222d32;
            --color: #aaa;
        }
    }
</style>
{% end %}

{% block js %}
<script src="{{ static_url('js/plugins/terminals/jquery.terminal/jquery.terminal.min.js') }}"></script>
<script src="{{ static_url('js/utils/websocket.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/pages/log.js') }}"></script>
{% end %}

{% block header %}
<div class="page-header">
    <div class="breadcrumb-line breadcrumb-line-component">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="{{ reverse_url('index') }}"><i class="icon-home2 position-left"></i> {{ _('Home') }}</a></li>
            <li><a href="{{ reverse_url('service:index', name) }}">{{ metadata.get('title') }}</a></li>
            <li class="active">{{ _('Log') }}</li>
        </ul>
    </div>
</div>
{% end %}

{% block content %}
    <div class="console custom"></div>
{% end %}