{% extends 'layouts/fixed.html' %}

{% block css %}
<link href="{{ static_url('css/pages/update_manager.css') }}" rel="stylesheet" type="text/css">
<style>
    .btn-float {
        padding: 11px;
        border-radius: 3px;
    }
</style>
{% end %}

{% block js %}
<script type="text/javascript" src="{{ static_url('js/plugins/tables/datatables/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/tables/datatables/extensions/responsive.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/tables/datatables/extensions/buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/tables/datatables/extensions/natural_sort.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/forms/selects/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/buttons/spin.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/plugins/buttons/ladda.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/pages/update_manager.js') }}"></script>
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-flat">
            <table class="table table-striped text-nowrap table-updates">
                <thead>
                <tr>
                    <th>{{ _('Item') }}</th>
                    <th>{{ _('Description') }}</th>
                    <th>{{ _('Actions') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for service in services_list %}
                {% set color=service['color'] %}
                <tr>
                    <td>
                        <div class="media">
                            <div class="media-left">
                                <a class="btn border-{{ color }} text-{{ color }} btn-flat btn-icon btn-rounded btn-sm">
                                    <i class="{{ service['icon_class'] }}"></i></a>
                            </div>

                            <div class="media-body media-middle">
                                <a class="text-semibold">{{ service['title'] }}</a>
                                <div class="text-muted text-size-small">
                                    Last updated: 2016.12.30
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><!--
                        <div class="panel panel-body">
                            <ul class="list-feed list-feed-rhombus list-feed-solid">
                                <li><a href="#">David Linner</a> requested refund for a double bank card charge</li>
                                <li>User <a href="#">Christopher Wallace</a> from Google is awaiting for staff reply</li>
                                <li>Ticket <strong>#43683</strong> has been resolved by <a href="#">Victoria Wilson</a></li>
                                <li><a href="#">Eugene Kopyov</a> merged <strong>Master</strong>, <strong>Demo</strong> and <strong>Dev</strong> branches</li>
                                <li>All sellers have received payouts for December, 2016!</li>
                                <li><a href="#">Chris Arney</a> created a new ticket <strong>#43136</strong> and assigned to <a href="#">John Nod</a></li>
                            </ul>
                        </div>-->
                    </td>
                    <td class="text-right">
                        <button type="button" class="btn bg-blue btn-float btn-loading" data-loading-text="<i class='icon-spinner2 spinner'></i>"><i class="icon-spinner11"></i></button>
                    </td>
                    <td class="no-padding-left"></td>
                </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}