<div class="navbar navbar-default navbar-fixed-top header-highlight">
	<div class="navbar-header">
		<a class="navbar-brand" href="/"><img src="{{ static_url('images/logo_light.png') }}" alt=""></a>

		<ul class="nav navbar-nav pull-right visible-xs-block">
			<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
		</ul>
	</div>

	<div class="navbar-collapse collapse" id="navbar-mobile">
		<ul class="nav navbar-nav">
			<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
			{% if metadata['debug'] %}
			<li>
				<p class="navbar-text">
			        <span class="label {% if debug %} bg-success{% else %} bg-danger{% end %}">{{ _('debug') }}</span>
		        </p>
			</li>
			{% end %}
			<!--<li>-->
				<!--<a href="{{ reverse_url('debug') }}" title="Terminal"><i class="icon-terminal"></i>-->
					<!--<span class="visible-xs-inline-block position-right">{{ _('Terminal') }}</span>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li><a href="#"><i class="icon-clipboard6" title="Log"></i><span class="visible-xs-inline-block position-right">Log</span></a></li>-->
		</ul>


		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown dropdown-user">
				<a class="dropdown-toggle" data-toggle="dropdown">
					<img src="{{ static_url('images/image.png') }}" alt="">
                    <span>Vladimir</span>
					<i class="caret"></i>
				</a>

				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#"><i class="icon-user"></i> {{ _('Profile') }}</a></li>
					<li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment"></i> {{ _('Messages') }}</a></li>
					<li class="divider"></li>
					<li><a href="{{ reverse_url('settings') }}"><i class="icon-cog5"></i> {{ _('Settings') }}</a></li>
					<li><a href="{{ reverse_url('logout') }}"><i class="icon-switch2"></i> {{ _('Logout') }}</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>