<div class="col-lg-2 col-md-3 col-sm-6 services-cards__entry" data-name="{{ entry.name }}">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="panel-title">
                {% if entry.debug %}
                <span class="label bg-success" style="font-weight: 400;font-size: 9px;line-height: normal;">{{ _('debug') }}</span>
                {% end %}
            </div>
            <div class="heading-elements">
                <ul class="icons-list text-muted">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li id="update_service"><a href="javascript:void(0);"><i class="icon-download"></i> {{ _('Update') }}</a></li>
                            <li id="restart_service"><a href="javascript:void(0);"><i class="icon-spinner11"></i> {{ _('Restart') }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body text-center">
            <a href="{{ reverse_url('service:index', entry.name) }}" class="icon-object border-{{ entry.color }} text-{{ entry.color }} btn btn-flat">
                <i class="{{ entry.icon_class }}"></i>
            </a>
            <h5 class="text-semibold">{{ entry.title }}</h5>
            <p class="mb-15">
                <span class="label bg-success">{{ _('updated') }}</span>
                <span class="label bg-grey-300" style="margin-top: 3px;">{{ entry.version }}</span>
            </p>
            <p class="mb-15">{{ entry.description }}</p>
        </div>
    </div>
</div>