<div class="col-lg-2 col-md-3 col-sm-6">
    <div class="panel" style="height: 320px;">
        <div class="panel-body text-center">
            <a href="#" class="icon-object border-{{ entry.color }} text-{{ entry.color }} btn btn-flat">
                <i class="{{ entry.icon_class }}"></i>
            </a>
            <h5 class="text-semibold">{{ entry.title }}</h5>
            <p class="mb-15">{{ entry.description }}</p>

            <span class="label text-grey-300">version {{ entry.version }}</span>
        </div>
    </div>
</div>